.mis {
  background-color: #f1d537;
  padding: 2px;
  border-radius: 999px;
}

.icon {
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
}

.textContainer {
  align-items: center;
  padding: 2px;
}
